@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #1d4ed8;
  --color-accent: #f59e0b;
}

@layer base {
  body {
    background-color: #f9fafb;
    color: #111827;
  }
}